<?xml version="1.0"?>
<config>
    <modules>
        <Meanbee_ShoppingAssistant>
            <version>1.0.0</version>
        </Meanbee_ShoppingAssistant>
    </modules>
    <global>
        <helpers>
            <meanbee_shoppingassistant>
                <class>Meanbee_ShoppingAssistant_Helper</class>
            </meanbee_shoppingassistant>
        </helpers>
        <models>
            <meanbee_shoppingassistant>
                <class>Meanbee_ShoppingAssistant_Model</class>
                <resourceModel>meanbee_shoppingassistant_resource</resourceModel>
            </meanbee_shoppingassistant>
            <meanbee_shoppingassistant_resource>
                <class>Meanbee_ShoppingAssistant_Model_Resource</class>
                <entities>
                    <request>
                        <table>meanbee_shoppingassistant_request</table>
                    </request>
                </entities>
            </meanbee_shoppingassistant_resource>
        </models>
        <resources>
            <meanbee_shoppingassistant_setup>
                <setup>
                    <module>Meanbee_ShoppingAssistant</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </meanbee_shoppingassistant_setup>
        </resources>
        <blocks>
            <meanbee_shoppingassistant>
                <class>Meanbee_ShoppingAssistant_Block</class>
            </meanbee_shoppingassistant>
        </blocks>
    </global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <meanbee_shoppingassistant after="Mage_Adminhtml">Meanbee_ShoppingAssistant_Adminhtml</meanbee_shoppingassistant>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <frontend>
        <routers>
            <meanbee_shoppingassistant>
                <use>standard</use>
                <args>
                    <module>Meanbee_ShoppingAssistant</module>
                    <frontName>shopping_assistant</frontName>
                </args>
            </meanbee_shoppingassistant>
        </routers>
        <layout>
            <updates>
                <meanbee_shoppingassistant>
                    <file>meanbee/shoppingassistant.xml</file>
                </meanbee_shoppingassistant>
            </updates>
        </layout>
    </frontend>
</config>
